
@{
    ViewBag.Title = "AllReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading"><h5>Report </h5></div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" id="ReportType">
                        <option value="All">All Employee</option>
                        @*<option >Singal Employee</option>*@
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <input type="button" id="btnReportView" value="View Report" class="btn btn-primary btn-block" />

                </div>
            </div>
            <div class="col-md-6">
                <input type="hidden" id="pdf" />
            </div>

        </div>
    </div>
</div>
@section ViewSpecificJavascript{
    <script src="~/Scripts/jquery.fancybox.js"></script>

    <script>
        $(document.body).on("click",
            "#btnReportView",
            function () {
                $.ajax({
                    url: "/Report/GetAllEmployee",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data != "" && data != null) {
                            setTimeout(function () {
                                $("#pdf").attr("href", data);
                                var reportBox = $("#pdf").fancybox({
                                    'frameWidth': 85,
                                    'frameHeight': 495,
                                    'overlayShow': true,
                                    'hideOnContentClick': false,
                                    'type': 'iframe',
                                    helpers: {
                                        // prevents closing when clicking OUTSIDE fancybox
                                        overlay: { closeClick: false }
                                    }
                                }).trigger('click');
                            }, 1000);
                        }
                    }
                });


            });

    </script>


}